{% extends "base.html" %}
	{% block content %}
	<div id="myCarousel" class="carousel slide ">
		

		<div class="carousel-inner">
												<!-- Carousel item -->
			<div class="item">
				<div class="mainImage container-fluid FirstImageCarousel">
					<div class="container">
						<div class="col-sm-16 col-sm-offset-1 ">
						<form method="POST" action='' enctype='multipart/form-data'>
							<div class="col-sm-6 divFormRejestracja">
								{% csrf_token %}
								{{instanceR.as_p}}
								{{instanceReEx.as_p}}
							<input type="submit" class="btn btn-success" name="rejestracja" value="Załóż konto" />
							</div>
						</form>
						


								
						</div>	
					</div>
				</div>
			</div>
												<!-- Carousel item -->	
			<div class="item active">
				<div class="container-fluid mainImage SecoundImageCarousel">
					<div class="container">
						<div class="col-sm-16 col-sm-offset-1">
							<span class="col-md-5 textIndex" id="textIndexSMS">
								ZARZĄDZAJ KLASAMI UCZNIÓW<br/>
								TWOJEJ SZKOŁY<br/><br/>
								<span class="col-sm-12 textIndexWithin">
									Załóż konto już dziś<br/> i testuj nasz program za darmo przez 5 dni !
								</span>
							</span>	
							<button class="btnIndex">Free Trial</button>
						</div>	
					</div>
				</div>
			</div>
												<!-- Carousel item -->
		<div class="item">
				<div class="container-fluid mainImage ThirdImageCarousel">
					<div class="container">
						<div class="col-sm-16 col-sm-offset-1" >
							<form method="POST" action="">
							<div class="col-sm-6 divFormKontakt">

								{{instanceC.as_p}}{% csrf_token %}
								<input type="submit" class="btn btn-danger" name="kontakt" value="Wyślij wiadomość" />
							</div>
						</form>	
						</div>	
					</div>
				</div>
			</div>
		</div>

	</div>

	<script type="text/javascript">
		$(".btnIndex").hover(function() {
		    $(this).toggleClass('clicked', 1000);
		});

		$('#myCarousel').carousel({
		  interval: false,
		  cycle: true,
		  pause:false
		}); 
		// function SetAnimate(i){
		// 	switch(i%3){
		// 		case 0:
				
		// 		$('.textIndex').delay(500).css('top', '-100px');
		// 		$('.textIndex').css('left', '-100px');
		// 		$('.textIndex').css('opacity', '0');
		// 		$(".textIndex").animate({
  //           		opacity : '1',
  //   				top:"0",
  //   				left:"0"
  //       		});break;
		// 		case 1:
		// 		$('.textIndex').slideUp();
		// 	 	$('.textIndex').slideDown();
		// 	 	break;
		// 	 	case 2:
		// 	 	$('.textIndex').fadeOut(200);
		// 	 	$('.textIndex').fadeIn(2000,"linear");
		// 	 	break;

		// 	}
		// }
		function AnimateFormsRejestracja(){
			$('.divFormRejestracja').css('opacity', '0');
			$(".divFormRejestracja").delay(1000).animate({
            		opacity : '1',

        		});
		}
		function AnimateFormsKontakt(){
			$('.divFormKontakt').css('opacity', '0');
			$(".divFormKontakt").delay(1000).animate({
            		opacity : '1',

        		});
		}	
		function AnimateText(){
			$('#textIndexSMS').css('opacity', '0');
			$("#textIndexSMS").delay(1000).animate({
            		opacity : '1',
        		});
		}
		function AniametButton(){
			$('.btnIndex').css('opacity', '0');
			$('.btnIndex').delay(1000).css('top', '200px');
			$('.btnIndex').css('right', '50px');
			$(".btnIndex").delay(500).animate({
            		opacity : '1',
    				top:"250px",
    				right:"100px"
        		});
		}
		window.onload = function() {
				var k=1;
				$(".textIndex").delay(1000).animate({
            		opacity : '1',
        		});
        		$(".btnIndex").animate({
            		opacity : '1',
        		});
			 	$('#rejestracja').click(function(){
					$('#myCarousel').carousel(0)
					AnimateFormsRejestracja();
				});
				$('#kontakt').click(function(){
					$('#myCarousel').carousel(2)
					AnimateFormsKontakt();
				});
				$('#logo').click(function(){
					$('#myCarousel').carousel(1);
					AniametButton();
					AnimateText();
				});
				$('.loginBtnRejestracja').click(function(){
					$('#myCarousel').carousel(0);
					AnimateFormsRejestracja();
					$('#myModal').modal("hide");
				});				

			 
		}
	
    </script>
{% endblock %}	