{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- <div id="CaruselIndex" class="carousel slide" data-ride="carousel">
  <! Indicators -->
 <!--  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
<!--   <div class="carousel-inner" role="listbox">
    <div c>lass="item active"> -->
        {% include "index.html" %}
    <!-- </div>

    <! <div class="item"> -->
    <!-- {% include "kontakt.html" %} -->
    <!-- </div> -->

    <!-- <div class="item"> -->
    <!-- {% include "rejestracja.html" %} -->
    <!-- </div> --><!-- 
  </div>
<script type="text/javascript">
  $("#CaruselIndex").carousel();
  $("#CaruselIndex").carousel({interval: false});
</script>
</div> -->
{% endblock %} -->

<!-- Od teraz to jest plik glownej strony -->