{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Student Management System</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static '/smscss.css' %}">
		<script src="{% static '/sameAddress.js' %}"></script>
		<script type="text/javascript" src="{% static '/SMSAdding.js' %}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		
		<br/>
		<br/>
		<dir class="row">
		<div class ="col-sm-2 menuLeft">
			<div id="SMS-menu" class="navbar navbar-default" style="display: inline-block;" role="navigation">
		   	  <div class="container ">
			      
			      <div class="collapse navbar-collapse navbar-menubuilder pull-left">
			         <ul class="nav navbar-nav navbar-left">

			         	<div class="navbar-header"><a class="navbar-brand btn btn-primary"style=" margin-left:0px;width: 300px" href="/">SMS</a></div>

							<p><li><a href="#" class="optionDodajKlase">
							<span class="glyphicon glyphicon-plus"></span> Klasy
							</a></li></p>

							<p><li><a href="#" class="optionWypelnijKlase">
							<span class="glyphicon glyphicon-equalizer"></span> Wypelnij Klasę
							</a></li></p>

							<p><li><a href="#" class="optionDodajUcznia">
							<span class="glyphicon glyphicon-user"></span> Uczniowie
							</a></li></p>

							<p><li><a href="#" class="optionDodajProfil">
							<span class="glyphicon glyphicon-star"></span> Profile
							</a></li></p>

							<p><li><a href="#" class="optionDodajAlgorytm">
							<span class="glyphicon glyphicon-plus"></span> Algorytmy rekrutacyjne
							</a></li></p>

			         </ul>
			        </div>
			    </div>
			</div>
		</div>
		<div class ="col-sm-8">
			<div class ="topBar">
				<h2>{{ user.get_full_name }}</h2>
					<ul>
		  			<li>Username: {{ user.username }}</li>
					</ul>

			</div>
			<hr class="style-four"></hr>
			{% if same %}
				<div class="alert alert-danger pull-left">
						<strong>Powtórzenie!</strong> Już stworzyłes profil o takiej nazwie lub skrócie.
				</div>
			{% endif %}

			<!-- SRODKOWA CZESC SMS -->
				<div class="row centerMenu">
					<center>
						<a href="/sms/extended/wszyscyuczniowie"><div class="showAllStudents centerOption">WSZYSCY UCZNIOWIE</div></a>
						<a href="/sms/extended/uczniowieprzydzieleni"><div class="showStudentWithClass centerOption">UCZNIOWIE PRZYDZIELENI DO KLASY</div></a>
						<a href="/sms/extended/uczniowienieprzydzieleni"><div class="showStudentWithNoClass centerOption">UCZNIOWIE NIEPRZYDZIELENI DO KLASY</div></a>
						<a href="/sms/extended/zarzadzanieuczniami"><div class="showAllStudents centerOption">ZARZĄDZANIE UCZNIAMI</div></a>
					</center>

					
					{% if klasyPostfix|length > 0 %}
						<div class="klasyTop">
							<p>Klasy</p>
						</div>

						<div class="innerKlasy">
							<ul>
							{% for klasa in klasyPostfix %}
								{% if klasa != None%}
									<li><a href="/sms/extended/test/{{klasa}}">{{ klasa }}</a></li>	
								{% endif %}	
							{% endfor %}
							</ul>
						</div>
					{% endif %}
					
				</div>
				
			<!-- LEFT CONTAINER -->
			<div class="col-md-12">
				{% for uczen in uczniowie %}
				{{ uczen }}
				<br>
				{% endfor %}
				
			</div> 


		</div>
	</div>
													<!-- START DODAJ KLASE MODAL BOX -->
		<div class="modal fade" id="dodajKlaseModal" role="dialog">
    		<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-th-list"></span>TWORZENIE KLASY</h4>
					</div>
					<div class="modal-body" style="padding:40px 50px;">

						<form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
							


								{{formAddClass.as_p}}





							<input type="submit" class="btn btn-default" name="addClass" value="Zatwierdź"/>
						</form>
							<hr/>

						<form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
							
							
							<h4><span class="glyphicon glyphicon-remove"></span>USUŃ KLASĘ</h4>

								{{formRemoveClass.as_p}}





							<input type="submit" class="btn btn-default" name="removeClass" value="Zatwierdź"/>
						</form>
					</div>
				</div>
			</div>
		</div> 
													<!-- END DODAJ KLASE MODAL BOX -->

													<!-- START WYPELNIJ KLASE MODAL BOX -->
		<div class="modal fade" id="wypelnijKlaseModal" role="dialog">
    		<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-th-list"></span>Holz to bog</h4>
					</div>
					<div class="modal-body" style="padding:40px 50px;">

						<form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
							


								{{ formFillClass.as_p }}





							<input type="submit" class="btn btn-default" name="fillClass" value="Zatwierdź"/>
						</form>
					</div>
				</div>
			</div>
		</div> 
													<!-- END WYPELNIJ KLASE MODAL BOX -->

													<!-- START DODAJ UCZNIA MODAL BOX -->
		<div class="modal fade" id="dodajUczniaModal" role="dialog">
    		<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-user"></span>DODAWANIE UCZNIA</h4>
					</div>
					<div class="modal-body" style="padding:40px 50px;">
						<form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}

								<div class="formAddStudent">
									
									<div class="labelform"><div class="innerLabel">Imie:</div><div class="innerInput">{{formAddStudent.imie}}</div></div>
									<div class="labelform"><div class="innerLabel">Nazwisko:</div><div class="innerInput">{{formAddStudent.nazwisko}}</div></div>

									<div class="labelform">
										<div class="innerLabel">Adres zamieszkania:</div>{{formAddStudent.kod1}}- {{formAddStudent.kod2}}{{formAddStudent.miejscowosc}}
									</div>

									<div class="labelform innerInput ulicadom">
										{{formAddStudent.ulica}}
										{{formAddStudent.nrbudynku}}
										{{formAddStudent.nrmieszkania}}
									</div>

									<div class="innerLabel">
										<br><br>
											<button onclick="sameAddress()" type="button">Przepisz</button>
									</div>

									<div class="labelform">
										<br>
										<br>
										<div class="innerLabel">Adres zameldowania:</div>{{formAddStudent.kod12}}- {{formAddStudent.kod22}}{{formAddStudent.miejscowosc2}}
									</div>

									<div class="labelform innerInput ulicadom">
										{{formAddStudent.ulica2}}
										{{formAddStudent.nrbudynku2}}
										{{formAddStudent.nrmieszkania2}}
									</div>

									<div class="labelform">
										<br>
										<br>
										<div class="innerLabel">Ocena Angielski:</div>{{formAddStudent.ocenAng}}
									</div>

									<div class="labelform">
										<div class="innerLabel">Ocena Niemiecki:</div>{{formAddStudent.ocenNiem}}
									</div>

									<div class="labelform">
										<div class="innerLabel">Ocena Polski:</div>{{formAddStudent.ocenPol}}
									</div>

									<div class="labelform">
										<div class="innerLabel">Ocena Matematyka:</div>{{formAddStudent.ocenMat}}
									</div>
								</div>

								<hr><br/>


							<input type="submit" class="btn btn-default pull-right" name="addStudent" value="Zatwierdź"/>


						</form>

								<div class="importFile">

									<p class="text-center">IMPORTUJ UCZNIOW Z PLIKU</p>

									<form method="post" enctype="multipart/form-data"> {% csrf_token %}
										<input type="file" name="studentFile" />
										<input type="submit" name="studentFile" value="Upload" />
									</form>

								</div>
					
					</div>
				</div>
			</div>
		</div> 
													<!-- END DODAJ UCZNIA MODAL BOX -->

													<!-- START DODAJ PROFIL MODAL BOX -->
		<div class="modal fade" id="dodajProfilModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-th-list"></span>TWORZENIE PROFILU</h4>
					</div>
					<div class="modal-body" style="padding:40px 50px;">

						<form method="POST" action='' enctype='multipart/form-data' class="menuForms"> {% csrf_token %}

								{{formAddProfile.as_p}}
								

							<input type="submit" class="btn btn-default" name="addProfile" value="Zatwierdź"/>
						</form>

						<hr/>

						<form method="POST" action='' enctype='multipart/form-data' class="menuForms"> {% csrf_token %}

								{{formRemoveProfile.as_p}}
								

							<input type="submit" class="btn btn-default" name="removeProfile" value="Zatwierdź"/>
						</form>

					</div>
				</div>
			</div>
		</div> 
													<!-- END DODAJ PROFILE MODAL BOX -->

													<!-- START DODAJ ALGORYTM MODAL BOX -->
		<div class="modal fade" id="dodajAlgorytmModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-th-list"></span>TWORZENIE ALGORYTMU</h4>
					</div>
					<div class="modal-body" style="padding:40px 50px;">

						<form method="POST" action='' enctype='multipart/form-data' class="menuForms"> {% csrf_token %}

								{{formAddAlgorithm.as_p}}
								

							<input type="submit" class="btn btn-default" name="addAlgorithm" value="Zatwierdź"/>

						</form>
						
							<hr/>

							<form method="POST" action='' enctype='multipart/form-data' class="menuForms"> {% csrf_token %}

								{{formRemoveAlgorithm.as_p}}
								

							<input type="submit" class="btn btn-default" name="removeAlgorithm" value="Zatwierdź"/>

						</form>
					</div>
				</div>
			</div>
		</div> 
													<!-- END DODAJ ALGORYTM MODAL BOX -->
		

<script type="text/javascript">

	$(document).ready(function(){
		$(".optionDodajKlase").click(function(){
			$("#dodajKlaseModal").modal();
		});

		$(".optionDodajProfil").click(function(){
			$("#dodajProfilModal").modal();
		});

		$(".optionDodajUcznia").click(function(){
			$("#dodajUczniaModal").modal();
		});

		$(".optionDodajAlgorytm").click(function(){
			$("#dodajAlgorytmModal").modal();
		});

		$(".optionWypelnijKlase").click(function(){
			$("#wypelnijKlaseModal").modal();
		});
	});
</script>
	</body>
</html>