{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Wszyscy uczniowie</title>
		<link rel="stylesheet" href="{% static '/smscss.css' %}">
	</head>
	<body>
		<table >
			<tr>
				<td>Usuń</td>
				{% for every in headerTable %}
					<td>{{ every }}</td>
				{% endfor %}
			</tr>
			{% for student in allStudents %}
				<tr>
					<td><a href="../usunucznia/{{student.0}}">Usuń</a></td>
					{% for info in student%}
						<td>{{ info }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</body>
</html>